﻿
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/jquery.bxslider.css" />
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.bxslider.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.title-list,.btn-list').hide();

            $('.slider5').bxSlider({
                slideWidth: 300,
                minSlides: 4,
                maxSlides: 4,
                moveSlides: 2,
                slideMargin: 10,
                captions: true,
                //pager: true,
                //auto:true
            });

            //ListItems
            $('#list').click(function (event) {
                event.preventDefault();
                $('#products .item').addClass('list-group-item');

                $('.title-grid,.btn-grid').hide();
                $('.title-list,.btn-list').show();
            });
            $('#grid').click(function (event) {
                event.preventDefault();
                $('#products .item').removeClass('list-group-item');
                $('#products .item').addClass('grid-group-item');

                $('.title-grid,.btn-grid').show();
                $('.title-list,.btn-list').hide();
            });

            //Ratings
            $(".star").hover(function () {
                $(this).addClass('starred');
                $(this).prevAll('.star').addClass('starred');

            }, function () {
                $(this).removeClass('starred');
                $(this).prevAll('.star').removeClass('starred');
            });

            $('.star').click(function () {

                $(this).addClass('starred-chosen');
                $(this).prevAll('.star').addClass("starred-chosen");

                //Remove os ratings a frente do clicado
                var id = parseInt($(this).attr('id').substr(4, 4));

                $.each($(this).parent().children(), function() {
                    var idchild = parseInt($(this).attr('id').substr(4, 4));
                    if (idchild > id) {
                        $(this).removeClass('starred-chosen');
                    }

                });

            });
        });

    </script>

}

<div class="container">
    <div id="destaques">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <h2 style="color: #6f7678">Destaques</h2>
                    <hr class="hr-home" />
                </div>
            </div>
            <div class="row">
                <div class="slider5">
                    <a class="slide" href="www.google.com">
                        <img src="http://placehold.it/300x150&text=FooBar1" title="teste">
                    </a>

                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar2" title="teste2">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar3" title="teste3">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar4" title="teste4">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar5" title="teste5">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar6" title="teste6">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar7" title="teste7">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar8" title="teste8">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar9" title="teste9">
                    </div>
                    <div class="slide">
                        <img src="http://placehold.it/300x150&text=FooBar10" title="teste10">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="outrocontent">

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h2 style="color: #6f7678">
                    Outros

                </h2>
                <hr class="hr-home" />
            </div>
        </div>

        <div class="row">
            <div id="filter-wrapper" class="col-md-3 col-xs-3">
                <div class="row">
                    <div class="well well-sm">
                        <strong>Category Title</strong>
                        <div class="btn-group">
                            <a href="#" id="list" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-th-list">
                                </span>List
                            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-th"></span>Grid
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-1 col-sm-1 col-xs-1"></div>

            <div id="results-wrapper" class="col-md-8 col-xs-8">

                <div class="row">
                    <div class=" input-group">

                        <input class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                        <span class="input-group-btn">
                            <button id="search-home" class="btn btn-info btn-md" type="button">
                                <i class="fa fa-search custom-search-btn"></i>
                            </button>
                        </span>

                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="container">

                        <div id="products" class="row list-group">

                            <div class="item  col-xs-4 col-lg-4">
                                <h4 class="group inner list-group-item-heading text-center title-grid">
                                    Product title
                                </h4>
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">

                                        <h4 class="group inner list-group-item-heading text-center title-list">
                                            Product title
                                        </h4>
                                        <span class="text-center" id="teste1">
                                            <span id="star1" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star2" style="color: #CCCCCC;" class="star star2"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star3" style="color: #CCCCCC;" class="star star3"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star4" style="color: #CCCCCC;" class="star star4"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star5" style="color: #CCCCCC;" class="star star5"><i class="fa fa-star fa-1x"></i></span>
                                            <span class="review">
                                                (<span>35</span>)
                                            </span>
                                        </span>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>

                                        <div class="row btn-grid">
                                            <div class="pull-right">
                                                <a class="btn btn-success pull-right btn-list-home" href="http://www.jquery2dotnet.com">Ver mais</a>
                                            </div>
                                        </div>

                                        <div class="row btn-list">
                                            <br /><br />
                                            <div class="pull-right">
                                                <a class="btn btn-success pull-right btn-list-home" href="http://www.jquery2dotnet.com">Ver mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item  col-xs-4 col-lg-4">
                                <h4 class="group inner list-group-item-heading text-center title-grid">
                                    Product title
                                </h4>
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                                    <div class="caption">

                                        <h4 class="group inner list-group-item-heading text-center title-list">
                                            Product title
                                        </h4>
                                        <span class="text-center" id="teste2">
                                            <span id="star1" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star2" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star3" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star4" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span id="star5" style="color: #CCCCCC;" class="star"><i class="fa fa-star fa-1x"></i></span>
                                            <span class="review">
                                                (<span>35</span>)
                                            </span>
                                        </span>
                                        <p class="group inner list-group-item-text">
                                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>

                                        <div class="row btn-grid">
                                            <div class="pull-right">
                                                <a class="btn btn-success pull-right btn-list-home" href="http://www.jquery2dotnet.com">Ver mais</a>
                                            </div>
                                        </div>

                                        <div class="row btn-list">
                                            <br /><br />
                                            <div class="pull-right">
                                                <a class="btn btn-success pull-right btn-list-home" href="http://www.jquery2dotnet.com">Ver mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<style type="text/css">
    #destaques {
        /* border-left: 2.5px solid;
        border-left-color: #3799ef;
        max-height: 250px;
        transform: rotate(-3deg);
        -moz-box-shadow: 0 15px 10px #999;
        -webkit-box-shadow: 0 15px 10px #999;
        box-shadow: 0 15px 10px #999;
        -moz-box-shadow: 0 15px 10px #999;
        -webkit-box-shadow: 0 15px 10px #999;
        box-shadow: 0 15px 10px #999;
        -webkit-tap-highlight-color: rgba(0,0,0,0);*/
    }

    #outrocontent {
        margin-top: 50px;
        min-height: 150px;
        max-height: 250px;
    }

    #filter-wrapper {
        height: 200px;
        background-color: #fff;
        border: 1px solid #f6f6f6;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
    }

    #results-wrapper {
        background-color: #fff;
        border: 1px solid #f6f6f6;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
        padding: 25px;
    }

    #search-home {
        height: 34.2px;
    }

    .hr-home {
        background-color: #DADADA !important;
        height: 5px;
        width: 20%;
        margin-top: 0px;
    }

    /*ListGroups*/
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item {
        border: 1px solid white;
    }

        .item.list-group-item {
            float: none;
            margin-left: 02%;
            width: 95%;
            background-color: #fff;
            margin-bottom: 10px;
        }

        .item:hover .thumbnail {
            border: 1px solid #3498db;
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .item.list-group-item:nth-of-type(odd) {
            background: #eeeeee;
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item img {
            float: left;
        }

        .item.list-group-item:after {
            clear: both;
        }

    .list-group-item-text {
        margin: 0 0 11px;
    }

    .title-list {
        line-height: 30px;
    }

    .btn-list-home {
        padding-top: 05px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 05px;
        margin-right: 15px;
    }

    .fa-star {
        border: 1px solid #ccc;
        border-radius: 25px;
        padding: 05px;
    }
    /*Ratings*/
    .star {
    }

    .starred {
        cursor: pointer;
        color: red !important;
    }

    .starred-chosen {
        color: red !important;
    }
</style>