﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    <div id="wrapper">

        <div class="header">
            <div class="navbar  navbar-fixed-top">
                <div class="row hidden-xs" style="display: none !important;">
                    <div class="container">
                        <di class="navbar-header">
                            <ul class="list-inline pull-left">
                                <li><i class="fa fa-map-marker"></i> Silicon Valley, California USA</li>
                                <li><i class="fa fa-phone"></i> (66) 3426-1610</li>
                                <li><i class="fa fa-envelope-o"></i> support@gmail.com</li>
                                
                            </ul>
                        </di>
                    </div>
                </div>

                <div class="row" style="background-color: #3498db; border-bottom: 1px solid #ccc;">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="color: white;">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            @RenderBody()
            <hr />
        </div>

        <div id="footer">
            <div id="top-footer" class="col-md-12"></div>
            <div id="bottom-footer" class="col-md-12">
                <div class="container">
                    <div class="col-md-4 col-xs-4 text-center">© Copyright 2016 by Volvox. All Rights Reserved.</div>

                    <ul class="col-md-4 col-xs-4 menu pull-right" type="none">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div> 
        </div>

    </div>
    <style>
        * {
            margin: 0px;
            border: 0px;
            padding: 0px;
            text-decoration: none;
        }

        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            display: block;
            margin: 8px;
        }

        #wrapper {
            min-height: 100%;
            position: relative;
            border: 0px;
            padding: 0px;
            margin: 0px;
        }

        #header {
            padding: 10px;
        }

        #content {
            padding-top: 60px;
            padding-bottom: 100px;
        }

        #footer {
            left: 0px;
            bottom: 0px;
            width: 100%;
            background: #999;
        }
        * html #footer {
            position: absolute;
            top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
        }

        a {
            Color: white;
        }

        .navbar-toggle {
            background-color: #2b2b2b !important;
            border-color: transparent !important;
        }

            .navbar-toggle span {
                background-color: white !important;
            }

            .navbar-toggle:hover {
                background-color: white !important;
            }

                .navbar-toggle:hover span {
                    background-color: #2b2b2b !important;
                }

        .dropdown-menu.dropdown-search {
            background-color: #3498db;
            padding: 08px;
            min-width: 320px;
            border: none;
            box-shadow: none;
        }

        .dropdown-menu:hover {
            background-color: white;
        }

        .btn-theme {
            background-color: #333;
            color: white !important;
        }

            .btn-theme:hover {
                background-color: #2E8DEF;
                color: white;
                cursor: pointer;
            }

        .navbar-brand:hover {
            color: white !important;
        }

        .bg-dark {
            position: relative;
            background-color: #2b2b2b !important;
            color: #818181 !important;
        }

        .padd-tb-60 {
            padding: 60px 0;
        }

        .bg-light-dark {
            background-color: #373737 !important;
            color: #818181 !important;
        }

        .padd-tb-10 {
            padding: 10px 0;
        }

        #top-footer {
            background-color: #2b2b2b;
            height: 100px;
            max-height: 50px;
        }

        #bottom-footer {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 12px;
            background-color: #1e1e1e;
            min-height: 25px;
            line-height: 25px !important;
            color: #888;
        }
        .menu li {
            float: left;
            margin-right: 10px;
        }

            .menu li a {
                color: #777;
                text-decoration: none;
            }

                .menu li a:hover {
                    color: #337ab7;
                }
    </style>
</body>
</html>
